<div class="col-sm-12 col-md-6 col-lg-4">
    <h4>{{ team.name }} - {{ team.damage|number_format }}</h4>
    <table class="table raidtable tstraid">
        <thead>
        <tr>
            <th>Name</th>
            <th>*</th>
            <th>G</th>
            <th>L</th>
            <th>Ready?</th>
        </tr>
        </thead>
        <tbody>
        {% for character in team.characters %}
            {% set char = attribute(characters, character) %}
            {% set playerChar = attribute(playerCharacters, character) %}
        <tr>
            <td>{{ char.name }}</td>
            <td>{{ playerChar.rarity|default(0) }}{% if playerChar.rarity_old is defined and playerChar.rarity - playerChar.rarity_old > 0 %} <span class="oi oi-arrow-top"></span>{{ playerChar.rarity - playerChar.rarity_old }}{% endif %}</td>
            <td>{{ playerChar.gear|default(0) }}</td>
            <td>{{ playerChar.level|default(0) }}</td>
            <td>No! Yes?</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>