{% extends 'layout.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">{{ guildName }}</h1>
    </div>

    <h3 class="section-bar">Raid Team Overview</h3>
    <ul>
        <li><a href="/{{ guildName|url_encode }}/{{ "Sith Triumvirate.html"|url_encode }}">Sith Triumvirate</a></li>
    </ul>

    <h3 class="section-bar">Member Overview</h3>
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Guild</th>
            <th scope="col">Galactic Power</th>
            <th scope="col">Galactic Power (Characters)</th>
            <th scope="col">Galactic Power (Ships)</th>
            <th scope="col">Characters</th>
        </tr>
        </thead>
        <tbody>
        {% for member in guild.member %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td><a href="/{{ guildName|url_encode }}/{{ member.name|url_encode }}/index.html">{{ member.name }}</a>
                </td>
                <td>
                    {{ member.power|number_format }}
                    {% if member.power_old > 0 and member.power - member.power_old > 0 %}
                        <span class="oi oi-arrow-top"></span>{{ (member.power - member.power_old)|number_format }}
                    {% elseif member.power_old > 0 and member.power - member.power_old < 0 %}
                        <span class="oi oi-arrow-bottom"></span>{{ (member.power_old - member.power)|number_format }}
                    {% endif %}
                </td>
                <td>
                    {{ member.power_characters|number_format }}
                    {% if member.power_characters_old > 0 and member.power_characters - member.power_characters_old > 0 %}
                        <span class="oi oi-arrow-top"></span>{{ (member.power_characters - member.power_characters_old)|number_format }}
                    {% elseif member.power_characters_old > 0 and member.power_characters - member.power_characters_old < 0 %}
                        <span class="oi oi-arrow-bottom"></span>{{ (member.power_characters_old - member.power_characters)|number_format }}
                    {% endif %}
                </td>
                <td>
                    {{ member.power_ships|number_format }}
                    {% if member.power_ships_old > 0 and member.power_ships - member.power_ships_old > 0 %}
                        <span class="oi oi-arrow-top"></span>{{ (member.power_ships - member.power_ships_old)|number_format }}
                    {% elseif member.power_ships_old > 0 and member.power_ships - member.power_ships_old < 0 %}
                        <span class="oi oi-arrow-bottom"></span>{{ (member.power_ships_old - member.power_ships)|number_format }}
                    {% endif %}
                </td>
                <td>{{ member.characters|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}