{% extends 'layout.html.twig' %}

{% block content %}
    <table class="table table-striped table-hover table-sm sortable">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Guild</th>
            <th scope="col">Member</th>
            <th scope="col">Galactic Power</th>
            <th scope="col">Galactic Power (Characters)</th>
            <th scope="col">Galactic Power (Ships)</th>
        </tr>
        </thead>
        <tbody>
        {% for guild, data in guilds %}
            {% set comparingData = attribute(comparingGuildData, guild) %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td><a href="/{{ guild|url_encode }}/index.html">{{ guild }}</a></td>
                <td>{{ data.member }}</td>
                <td data-sort="{{ data.power }}">
                    {{ data.power|number_format }}
                    {% if comparingData.power > 0 and data.power - comparingData.power > 0 %}
                        <span class="oi oi-arrow-top"></span>{{ (data.power - comparingData.power)|number_format }}
                    {% elseif comparingData.power > 0 and data.power - comparingData.power < 0 %}
                        <span class="oi oi-arrow-bottom"></span>{{ (comparingData.power - data.power)|number_format }}
                    {% endif %}
                </td>
                <td data-sort="{{ data.power_characters }}">
                    {{ data.power_characters|number_format }}
                    {% if comparingData.power_characters > 0 and data.power_characters - comparingData.power_characters > 0 %}
                        <span class="oi oi-arrow-top"></span>{{ (data.power_characters - comparingData.power_characters)|number_format }}
                    {% elseif comparingData.power_characters > 0 and data.power_characters - comparingData.power_characters < 0 %}
                        <span class="oi oi-arrow-bottom"></span>{{ (comparingData.power_characters - data.power_characters)|number_format }}
                    {% endif %}
                </td>
                <td data-sort="{{ data.power_ships }}">
                    {{ data.power_ships|number_format }}
                    {% if comparingData.power_ships > 0 and data.power_ships - comparingData.power_ships > 0 %}
                        <span class="oi oi-arrow-top"></span>{{ (data.power_ships - comparingData.power_ships)|number_format }}
                    {% elseif comparingData.power_ships > 0 and data.power_ships - comparingData.power_ships < 0 %}
                        <span class="oi oi-arrow-bottom"></span>{{ (comparingData.power_ships - data.power_ships)|number_format }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}