{% extends 'layout.html.twig' %}

{% block content %}
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Guild</th>
            <th scope="col">Member</th>
            <th scope="col">Galactic Power</th>
            <th scope="col">Galactic Power (Characters)</th>
            <th scope="col">Galactic Power (Ships)</th>
        </tr>
        </thead>
        <tbody>
        {% for guild, data in guilds %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td><a href="/{{ guild|url_encode }}/index.html">{{ guild }}</a></td>
                <td>{{ data.member|length }}</td>
                <td>
                    {{ data.power|number_format }}
                    {% if data.power_old > 0 and data.power - data.power_old > 0 %}
                        <span class="oi oi-arrow-top"></span>{{ (data.power - data.power_old)|number_format }}
                    {% elseif data.power_old > 0 and data.power - data.power_old < 0 %}
                        <span class="oi oi-arrow-bottom"></span>{{ (data.power_old - data.power)|number_format }}
                    {% endif %}
                </td>
                <td>
                    {{ data.power_characters|number_format }}
                    {% if data.power_characters_old > 0 and data.power_characters - data.power_characters_old > 0 %}
                        <span class="oi oi-arrow-top"></span>{{ (data.power_characters - data.power_characters_old)|number_format }}
                    {% elseif data.power_characters_old > 0 and data.power_characters - data.power_characters_old < 0 %}
                        <span class="oi oi-arrow-bottom"></span>{{ (data.power_characters_old - data.power_characters)|number_format }}
                    {% endif %}
                </td>
                <td>
                    {{ data.power_ships|number_format }}
                    {% if data.power_ships_old > 0 and data.power_ships - data.power_ships_old > 0 %}
                        <span class="oi oi-arrow-top"></span>{{ (data.power_ships - data.power_ships_old)|number_format }}
                    {% elseif data.power_ships_old > 0 and data.power_ships - data.power_ships_old < 0 %}
                        <span class="oi oi-arrow-bottom"></span>{{ (data.power_ships_old - data.power_ships)|number_format }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}