<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bataillon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <style>{% include 'styles/swgoh.css' %}</style>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <span class="navbar-brand">
        <a class="" href="/">Bataillon</a>
        {% if activeGuild is defined %} > <a class="" href="/{{ activeGuild|url_encode }}/index.html">{{ activeGuild }}</a>{% endif %}
        {% if raid is defined and not memberName is defined %} > <a class="" href="/{{ activeGuild|url_encode }}/{{ raid|url_encode }}.html">{{ raid }}</a>{% endif %}
        {% if memberName is defined %} > <a class="" href="/{{ activeGuild|url_encode }}/{{ memberName|url_encode }}/index.html">{{ memberName }}</a>{% endif %}
        {% if raid is defined and memberName is defined %} > <a class="" href="/{{ activeGuild|url_encode }}/{{ memberName|url_encode }}/{{ raid|url_encode }}.html">{{ raid }}</a>{% endif %}
    </span>
</nav>
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-12">
            {% block content %}{% endblock %}
        </main>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.2/tablesort.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.2/sorts/tablesort.number.min.js"></script>
<script>
    Array.from(document.getElementsByClassName("sortable")).forEach(function(item) {
        new Tablesort(item);
    });
</script>
</body>
</html>